# Node modules
node_modules/
# Yarn lock file
yarn.lock
# Yarn cache
frontend/.yarn-cache/
# Vite cache
.vite/
frontend/.vite/
# Build output
dist/
build/
# Logs
logs/
*.log
# Other temporary files
*.tmp
*.temp

# Local Netlify folder
.netlify
