# Use the default npm registry
registry=https://registry.npmjs.org/

# Disable package-lock file generation (to avoid conflicts with Yarn)
package-lock=false

# Specify cache directory for npm packages
cache=~/.npm/.cache

# Set global packages directory
npm config set prefix=${HOME}/.npm-global

# Save dependencies as exact versions in package.json
save-exact=true

# Allow npm to install dependencies with Yarn's lockfile
legacy-peer-deps=true

# Optional: Specify Yarn configurations
yarn-offline-mirror=.yarn-cache
yarn-offline-mirror-pruning=true
